.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 15px;
  padding: 20px;
  color: white;
}

.App-header h3, p{
  display: flex;
  justify-content: center;
  margin:0;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.vcontain{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width:100%;
  margin-bottom: 10rem;
}
.vaca{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height:260px;
  width:33%;
  border:1px solid grey;
}
.vaca p{
  margin:0;
}
.vaca img{
  height:100px;
  width:100px;
}
.form{
  display: flex;
  flex-direction: column;
  width:18%;
  justify-content: center;
  margin:0 auto;
}
.err{
  color:#d1065f;
}

.footer{
  display: block;
  position: fixed;
  background-color: #eee;
  left:0;
  bottom:0;
  width:100vw;
}
.footer p{
  display: flex;
  justify-content: center;
  margin:0;
  flex-direction: row;
}
.footer .list-inline{
  display: flex;
  justify-content: center;
}
.footer .list-inline li{
 display: flex;
 flex-direction: column;
  margin-right:1rem;
  list-style-type: none;
}